html { height: 100%; }
body { height: 100%; margin: 0px; padding: 0px; font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif"; font-size: 12px;}
p { margin:0; padding:0}
#googleMap, #googleMapHistory { height: 100%; background: blue; z-index: 1}
#menu {
    position:absolute;
    top:10px;
    right:30px;
}
#menu i {
    font-size:36px;
    padding-right: 10px;
    text-shadow: 2px 2px #888888;
}
#menu, #menu a:visited {
    color: #FC1612;
}
#menu a:hover {
    color: #FF5757;
}
#floating-panel {
    position: absolute;
    top: 0px;
    width: 285px;
    z-index: 5;
    background-color: #fff;
    text-align: center;
}
#floating-panel div.close {
    background-color:#fff;
    position: absolute;
    margin-left: 285px;
    cursor: pointer;
    width: 30px;
    padding: 40px 0;
    border-radius: 0 5px 25px 0;
}
#floating-panel i.fa-angle-double-left,
#floating-panel i.fa-angle-double-right {
    font-size:24px
}
.fixed_headers {
    width: 260px;
    border-collapse: collapse;
    text-align: left;
    font-size: 11px;
}
.fixed_headers td,
.fixed_headers th {
    margin: 0 10px;
}
.fixed_headers input[type=checkbox] {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    min-width: 20px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
    min-width: 110px;
}
.history td:nth-child(2),
.history th:nth-child(2) {
    width: 232px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
    min-width: 42px;
}
.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
    width: 65px;
}
.fixed_headers tr.header {
    border-bottom: 1px solid #CCC;
    background-color: #2CC185;
    font-weight: bold;
}
.fixed_headers td {
    border-bottom: 1px solid #CCC;
    word-wrap: break-word;
}
.fixed_headers tbody tr.row:hover {
    background-color: #ffbc40;
}
.fixed_headers tbody tr.checked td {
    border-bottom: none;
}
.fixed_headers thead tr {
    display: block;
    position: relative;
    border-bottom: 1px solid #2CC185;
    line-height: 1;
}
.fixed_headers tbody {
    display: block;
    overflow: auto;
    height: 410px;
}
.inner-table {
    font-size: 11px;
    max-height: 120px;
    border: 2px solid #ccc;
    padding: 0 0px;
    margin: 0 0px 5px;
    overflow: auto;
    line-height: 25px !important;
}
.inner-table-icon-cell {
    width: 21px;
    float: left;
}
.inner-table-icon-cell i.fa-compass {
    color: #2cc185
}
.inner-table-date-cell {
    width: 113px;
    float: left;
}
